@model List<string>


<li class="nav-item">
    <a class="nav-link" href="../KhachHang/List">
        <i class="menu-icon mdi mdi-television"></i>
        <span class="menu-title">Quản lý người dùng</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="../NhanVien/List">
        <i class="menu-icon mdi mdi-television"></i>
        <span class="menu-title">Quản lý nhân viên</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="../DonHang/List">
        <i class="menu-icon mdi mdi-television"></i>
        <span class="menu-title">Quản lý đơn hàng</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="../MayAnh/List">
        <i class="menu-icon mdi mdi-television"></i>
        <span class="menu-title">Quản lý sản phẩm</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="../LoaiMay/List">
        <i class="menu-icon mdi mdi-television"></i>
        <span class="menu-title">Quản lý loại sản phẩm</span>
    </a>
</li>




